{% load static %}

		<!-- Back-to-top -->
		<a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>

		<!-- JQuery min js -->
		<script src="{% static 'assets/plugins/jquery/jquery.min.js'%}"></script>

		<!-- Bootstrap Bundle js -->
		<script src="{% static 'assets/plugins/bootstrap/popper.min.js'%}"></script>
		<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>

		<!-- COUNTERS JS-->
		<script src="{% static 'assets/plugins/counters/counterup.min.js'%}"></script>
		<script src="{% static 'assets/plugins/counters/waypoints.min.js'%}"></script>
		<script src="{% static 'assets/plugins/counters/counters-1.js'%}"></script>

		<!-- Perfect SCROLLBAR JS-->
		<script src="{% static 'assets/plugins/owl-carousel/owl.carousel.js'%}"></script>
		<script src="{% static 'assets/landing/lib/company-slider/slider.js'%}"></script>

		<!--- TABS JS -->
		<script src="{% static 'assets/plugins/tabs/jquery.multipurpose_tabcontent.js'%}"></script>
		<script src="{% static 'assets/plugins/tabs/tab-content.js'%}"></script>

		<!-- Star Rating Js-->
		<script src="{% static 'assets/plugins/rating/jquery-rate-picker.js'%}"></script>
		<script src="{% static 'assets/plugins/rating/rating-picker.js'%}"></script>

		<!-- Star Rating-1 Js-->
		<script src="{% static 'assets/plugins/ratings-2/jquery.star-rating.js'%}"></script>
		<script src="{% static 'assets/plugins/ratings-2/star-rating.js'%}"></script>

		<!--- Perfect-scrollbar js -->
		<script src="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>

		<!-- SIDE-MENU JS -->
		<script src="{% static 'assets/landing/js/sidemenu.js'%}"></script>

		<!-- Sticky js -->
		<script src="{% static 'assets/js/sticky.js'%}"></script>

		<!--themecolor js-->
		{% comment %} <script src="{% static 'assets/js/themecolor.js'%}"></script> {% endcomment %}

		<!-- Switcher js -->
		{% comment %} <script src="{% static 'assets/switcher/js/switcher.js'%}"></script> {% endcomment %}
