{% load static %}

		<!-- Bootstrap css -->
		<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.css'%}" rel="stylesheet" id="style">

		<!-- Icons css -->
		<link href="{% static 'assets/css/icons.css'%}" rel="stylesheet">

		<!-- Style css -->
		<link href="{% static 'assets/css/style.css'%}" rel="stylesheet">

		<!-- Switcher css -->
		<link href="{% static 'assets/switcher/css/switcher.css'%}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'assets/switcher/demo.css'%}">