{% extends 'reconciliation/components/base.html' %}
{% load static %}

    {% block styles %}
	{% block title %}SMART RECO - Bienvenue{% endblock %}

    {% endblock %}
    
        {% block content %}
        
					<!-- breadcrumb -->
					<div class="breadcrumb-header justify-content-between">
						<div>
							<h4 class="content-title mb-2">Terms-Conditions</h4>
						</div>
						<div class="d-flex my-auto">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
									<li class="breadcrumb-item active " aria-current="page">Terms-Conditions</li>
								</ol>
							</nav>
						</div>
					</div>
					<!-- /breadcrumb -->

					<!-- row -->
					<div class="row ">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<h5>Welcome to adminor</h5>
									<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<h5>Using Our Services</h5>
									<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<h5>Privacy policy</h5>
									<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<h5>Copyright</h5>
									<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<h5>Terms and Conditions</h5>
									<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
									<ul>
										<li><i class="fa fa-angle-double-right" ></i> ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores </li>
										<li><i class="fa fa-angle-double-right" ></i> quas molestias excepturi sint occaecati cupiditate non provident</li>
										<li><i class="fa fa-angle-double-right" ></i> Nam libero tempore, cum soluta nobis est eligendi optio cumque</li>
										<li><i class="fa fa-angle-double-right" ></i> Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates</li>
										<li><i class="fa fa-angle-double-right" ></i> repudiandae sint et molestiae non recusandae itaque earum rerum hic tenetur a sapiente delectus</li>
										<li><i class="fa fa-angle-double-right" ></i> ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</li>
									</ul>
								</div>
							</div>
							<div class="card">
								<div class="card-body border text-center">
									<div class="terms">
										<a href="{% url 'reco_gest:dashboard' %}" class="btn btn-primary text-white">Commencer le voyage</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Row -->

        {% endblock %}

    {% block scripts %}


    {% endblock %}