{% extends 'reconciliation/components/base.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}
    
        {% block content %}
        
					<!-- breadcrumb -->
					<div class="breadcrumb-header justify-content-between">
						<div>
							<h4 class="content-title mb-2">Magasins</h4>
						</div>
						<div class="d-flex my-auto">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0);">Magasins</a></li>
									<li class="breadcrumb-item active " aria-current="page">Liste des magasins</li>
								</ol>
							</nav>
						</div>
					</div>
					<!-- /breadcrumb -->

					<!-- row -->
					{% for key,value in liste.items %}
						<div class="row row-sm">
							<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
								<div class="card">
									<div class="card-body">
										<div class="card-order">
											<h6 class="mb-2">{{key}}</h6>
											<h2 class="text-end "><i class="mdi mdi-store icon-size float-start text-primary text-primary-shadow"></i><span>{{value}}</span></h2>
											<p class="mb-0">Monthly users<span class="float-end">50%</span></p>
										</div>
									</div>
								</div>
							</div><!-- COL END -->
						</div>
					{% endfor %}
					<!-- /row -->



					<!-- Row -->
			<div class="row row-sm">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Liste des magasins</h3>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table border-top-0  table-bordered text-nowrap border-bottom" id="responsive-datatable">
									<thead>
										<tr>
											<th class="wd-15p border-bottom-0">Ville</th>
											<th class="wd-15p border-bottom-0">Type Magasin</th>
											<th class="wd-15p border-bottom-0">Nom magasin</th>
											<th class="wd-15p border-bottom-0">Commune</th>
											<th class="wd-15p border-bottom-0">Adresse</th>
											<th class="wd-15p border-bottom-0">Tel</th>
											<th class="wd-20p border-bottom-0">Actions</th>
										</tr>
									</thead>
									<tbody>
									    {% for magasin in magasins %}
										<tr>
											<td>{{magasin.ville.nom_ville}}</td>
											<td>{{magasin.type_magasin.libelle}}</td>
											<td>{{magasin.nom_magasin}}</td>
											<td>{{magasin.commune}}</td>
											<td>{{magasin.adresse}}</td>
											<td>{{magasin.telephone}}</td>
											<td style="width: 100px;">
												<div class="btn-list">
													<a href="{% url 'reco_gest:editer_magasin' magasin.id %}" class="btn btn-sm btn-def py-2 rounded-5 border text-muted tx-14"><i class="fe fe-edit"></i></a>
													<a href="javascript:void(0)" class="btn btn-sm btn-def py-2 rounded-5 border text-muted tx-14"><i class="fe fe-trash"></i></a>
												</div>
											</td>
										</tr>
									    {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Row -->


        {% endblock %}

    {% block scripts %}

		<!-- Moment js -->
		<script src="{% static 'assets/plugins/moment/moment.js'%}"></script>

		<!-- Moment js -->
		<script src="{% static 'assets/plugins/raphael/raphael.min.js'%}"></script>

		<!-- Piety js -->
		<script src="{% static 'assets/plugins/peity/jquery.peity.min.js'%}"></script>

		<!--- Internal Chart js -->
		<script src="{% static 'assets/plugins/chart.js/Chart.bundle.min.js'%}"></script>

		<script src="{% static 'assets/js/table-data.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/responsive.bootstrap5.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js'%}"></script>

    {% endblock %}