{% extends 'reconciliation/components/custom-base.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}

    {% block body %}

    <body class="main-body bg-light  login-img">
    
    {% endblock %}
    
        {% block content %}  

		<!-- main-signin-wrapper -->
		<div class="">
			<div class="my-auto page page-h">
					<div class="main-signin-wrapper">
						<div class="col-xl-4 col-lg-4 col-md-5 col-sm-8">
							<div class="text-center mb-3"> <img src="{% static 'assets/img/brand/logo-white.png'%}" class="h-8" alt=""> </div>
							<div class="card">
							<div class="card-body p-5">
								<div class="main-signin-header">
									<div class="text-center">
										<h2>Bienvenue!</h2>
										<h4>Connectez-vous pour continuer</h4>
									</div>
									<form action="{% url 'reco_gest:dashboard' %}">
										<div class="form-group">
											<label>Email</label><input class="form-control" placeholder="Enter your email" type="text" value="user@cecagadis.com">
										</div>
										<div class="form-group">
											<label>Password</label> <input class="form-control" placeholder="Enter your password" type="password" value="user@cecagadis.com">
										</div><button class="btn btn-primary btn-block">Connexion</button>
									</form>
								</div>
								<div class="main-signin-footer mt-3 mg-t-5">
									<p><a href="">Mot de passe oublié?</a></p>
									<p>Pas encore de compte? <a href="login">Démander à l'admin</a></p>
								</div>
							</div>
						   </div>

						</div>

				</div>
			</div>
		</div>

        {% endblock %}

    {% block scripts %}


		
    {% endblock %}