{% extends 'reconciliation/components/base.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}

        {% block content %}

					<!-- breadcrumb -->
					<div class="breadcrumb-header justify-content-between">
						<div>
							<h4 class="content-title mb-2">Comptes</h4>
						</div>
						<div class="d-flex my-auto">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0);">Comptes</a></li>
									<li class="breadcrumb-item active " aria-current="page">Détails compte</li>
								</ol>
							</nav>
						</div>
					</div>
					<!-- /breadcrumb -->

					<!-- row -->
					<div class="row row-sm">
						<div class="col-xl-12">
							<div class="input-group">
								<input type="text" class="form-control be-ts-7 be-bs-7" placeholder="">
								<div class="">
									<button type="button" class="btn btn-secondary  br-ts-0 br-bs-0  ">
										<i class="fa fa-search" aria-hidden="true"></i>
									</button>
								</div>
							</div>
							<div class="card mt-5  ">
								<div class="table-responsive">
									<table class="table card-table">
										<tr class="border-bottom">
											<th>Numéro</th>
											<th>ville</th>
											<th>Magasin</th>
											<th>Montant</th>
											<th>Rectte du jour</th>
											<th>Recette hebdomadaire</th>
											<th>Recette mensuelle</th>
										</tr>
										<tr class="border-bottom">
											<td>077901087</td>
											<td>Libreville</td>
											<td>CECADO lalala</td>
											<td>500000</td>
											<td >250000</td>
											<td>3000000</td>
											<td>9000000</td>
										</tr>
										<tr class="border-bottom">
											<td>077901087</td>
											<td>Libreville</td>
											<td>CECADO lalala</td>
											<td class="text-red">500000</td>
											<td >250000</td>
											<td>3000000</td>
											<td class="ight">9000000</td>
										</tr>
										<tr class="border-bottom">
											<td>077901087</td>
											<td>Libreville</td>
											<td>CECADO lalala</td>
											<td class="text-red">500000</td>
											<td >250000</td>
											<td>3000000</td>
											<td class="ight">9000000</td>
										</tr>
										<tr class="border-bottom">
											<td>077901087</td>
											<td>Libreville</td>
											<td>CECADO lalala</td>
											<td class="text-red">500000</td>
											<td >250000</td>
											<td>3000000</td>
											<td class="ight">9000000</td>
										</tr>
										<tr class="border-bottom">
											<td>077901087</td>
											<td>Libreville</td>
											<td>CECADO lalala</td>
											<td class="text-red">500000</td>
											<td >250000</td>
											<td>3000000</td>
											<td class="ight">9000000</td>
										</tr>
										<tr class="border-bottom">
											<td>077901087</td>
											<td>Libreville</td>
											<td>CECADO lalala</td>
											<td class="text-red">500000</td>
											<td >250000</td>
											<td>3000000</td>
											<td class="ight">9000000</td>
										</tr>
										<tr class="border-bottom">
											<td>077901087</td>
											<td>Libreville</td>
											<td>CECADO lalala</td>
											<td class="text-red">500000</td>
											<td >250000</td>
											<td>3000000</td>
											<td class="ight">9000000</td>
										</tr>
										<tr class="border-bottom">
											<td>077901087</td>
											<td>Libreville</td>
											<td>CECADO lalala</td>
											<td class="text-red">500000</td>
											<td >250000</td>
											<td>3000000</td>
											<td class="ight">9000000</td>
										</tr>
										<tr class="border-bottom">
											<td>077901087</td>
											<td>Libreville</td>
											<td>CECADO lalala</td>
											<td class="text-red">500000</td>
											<td >250000</td>
											<td>3000000</td>
											<td class="ight">9000000</td>
										</tr>
										<tr class="border-bottom">
											<td>077901087</td>
											<td>Libreville</td>
											<td>CECADO lalala</td>
											<td class="text-red">500000</td>
											<td >250000</td>
											<td>3000000</td>
											<td class="ight">9000000</td>
										</tr>
										<tr class="border-bottom">
											<td>077901087</td>
											<td>Libreville</td>
											<td>CECADO lalala</td>
											<td class="text-red">500000</td>
											<td >250000</td>
											<td>3000000</td>
											<td class="ight">9000000</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- End Row -->

        {% endblock %}

    {% block scripts %}


    {% endblock %}