{% extends 'reconciliation/components/base.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}

        {% block content %}

			<!-- breadcrumb -->
			<div class="breadcrumb-header justify-content-between">
				<div>
					<h4 class="content-title mb-2">Types Magasins</h4>
				</div>
				<div class="d-flex my-auto">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0);">Magasins</a></li>
							<li class="breadcrumb-item active " aria-current="page">Types magasins</li>
						</ol>
					</nav>
				</div>
			</div>
			<!-- /breadcrumb -->

			<!-- row -->
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="col-lg-12 col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Enregistrer type</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-lg-12">
									{% if messages %}
										<ul class="messages">
											{% for message in messages %}
												<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
											{% endfor %}
										</ul>
									{% endif %}
									{% if form.errors %}
										<div class="alert alert-danger">
											{{ form.errors }}
										</div>
									{% endif %}
									<div class="bg-gray-100 p-4">
										<form action="" method="post">
											{% csrf_token %}
											<div class="form-group">
												{{form.code}}
											</div>
											<div class="form-group">
												{{form.libelle}}
											</div>
											<input style="display:none;" type="text" name="idtypemagasin" id="idtypemagasin" class="invisible hide">
											<button id="btnEnrg" class="btn btn-primary pd-x-20">Enregistrer</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			<!-- /row -->

			<!-- Row -->
			<div class="row row-sm">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Types de magasin</h3>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table border-top-0  table-bordered text-nowrap border-bottom" id="responsive-datatable">
									<thead>
										<tr>
											<th class="wd-15p border-bottom-0">Code</th>
											<th class="wd-15p border-bottom-0">Libellé</th>
											<th class="wd-5p border-bottom-0">Actions</th>
										</tr>
									</thead>
									<tbody>
									    {% for t in t_magasins %}
										<tr>
											{% if t.code == "" %}
												<td>{t.code}}</td>
											{% else %}
												<td>Non renseigné</td>
											{% endif %}
											<td>{{t.libelle}}</td>
											<td style="width: 100px;">
												<div class="btn-list">
													<a href="javascript:void(0)" class="edit btn btn-sm btn-def py-2 rounded-5 border text-muted tx-14" id_typemag="{{t.id}}"><i class="fe fe-edit"></i></a>
													<a href="javascript:void(0)" class="delete btn btn-sm btn-def py-2 rounded-5 border text-muted tx-14" id_typemag="{{t.id}}"><i class="fe fe-trash"></i></a>
												</div>
											</td>
										</tr>
									    {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Row -->



        {% endblock %}

    {% block scripts %}

		<!--- Internal Modal js -->
		<script src="{% static 'assets/js/modal.js'%}"></script>

		<!--- Select2 js -->
		<script src="{% static 'assets/plugins/select2/js/select2.min.js'%}"></script>

		<script src="{% static 'assets/js/table-data.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/responsive.bootstrap5.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js'%}"></script>

		<script>
			$(document).ready(function(){
				$("#btnEnrg").html("{{act}}");
				$(".edit").on("click",function(){
					var id_typemag = $(this).attr("id_typemag");
					$.ajax({
						type: "post",
						url: "{% url 'reco_gest:get_typemagasin' %}",
						data: {
							"id_typemag": id_typemag,
							"csrfmiddlewaretoken": "{{ csrf_token }}"
						},
						success: function(typemagasin){
							$("#id_code").val(typemagasin["code_type"]);
							$("#id_libelle").val(typemagasin["libelle"]);
							$("#idtypemagasin").val(typemagasin["id"]);
							$("#btnEnrg").html("Editer");
						},
						error: function(){alert("Erreur");}
					});
				});
			});
		</script>

    {% endblock %}