{% extends 'reconciliation/components/base.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}

        {% block content %}

			<!-- breadcrumb -->
			<div class="breadcrumb-header justify-content-between">
				<div>
					<h4 class="content-title mb-2">Types Compte</h4>
				</div>
				<div class="d-flex my-auto">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0);">Compte</a></li>
							<li class="breadcrumb-item active " aria-current="page">Types comptes</li>
						</ol>
					</nav>
				</div>
			</div>
			<!-- /breadcrumb -->

			<!-- row -->
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="col-lg-12 col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Enregistrer type</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-lg-12">
									<div class="bg-gray-100 p-4">
										<form action="" method="post">
											{% csrf_token %}
											<div class="form-group">
												{{form.code}}
											</div>
											<div class="form-group">
												{{form.libelle}}
											</div>
											<button class="btn btn-primary pd-x-20">Enregistrer</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			<!-- /row -->

			<!-- Row -->
			<div class="row row-sm">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Types de comptes</h3>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table border-top-0  table-bordered text-nowrap border-bottom" id="responsive-datatable">
									<thead>
										<tr>
											<th class="wd-15p border-bottom-0">Code</th>
											<th class="wd-15p border-bottom-0">Libellé</th>
											<th class="wd-20p border-bottom-0">Actions</th>
										</tr>
									</thead>
									<tbody>
									    {% for t in t_comptes %}
										<tr>
											{% if t.code == "" %}
												<td>{t.code}}</td>
											{% else %}
												<td>Non renseigné{</td>
											{% endif %}
											<td>{{t.libelle}}</td>
											<td style="width: 100px;">
												<div class="btn-list">
													<a href="javascript:void(0)" class="btn btn-sm btn-def py-2 rounded-5 border text-muted tx-14"><i class="fe fe-edit"></i></a>
													<a href="javascript:void(0)" class="btn btn-sm btn-def py-2 rounded-5 border text-muted tx-14"><i class="fe fe-trash"></i></a>
												</div>
											</td>
										</tr>
									    {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Row -->



        {% endblock %}

    {% block scripts %}

		<!--- Internal Modal js -->
		<script src="{% static 'assets/js/modal.js'%}"></script>

		<!--- Select2 js -->
		<script src="{% static 'assets/plugins/select2/js/select2.min.js'%}"></script>

		<script src="{% static 'assets/js/table-data.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/responsive.bootstrap5.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js'%}"></script>

    {% endblock %}