{% extends 'recette/recette_base.html' %}
{% load static %}
{% block title %}SMART RECO - detail du compte marchand {{compte.libelle_compte}}{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div>
        <h4 class="content-title mb-2">Compte marchand {{compte.libelle_compte}}</h4>
    </div>
    <div class="d-flex my-auto">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Compte marchand</a></li>
                <li class="breadcrumb-item active " aria-current="page">Détail compte {{compte.libelle_compte}}</li>
            </ol>
        </nav>
    </div>
</div>
<!-- /breadcrumb -->

<!-- row -->
<div class="row">
    <div class="col-sm-12 col-md-12 offset-xl-4 col-xl-4 ">
        <div class="card custom-card">
            <div class="card-body text-center">
                <div>
                    <h6 class="card-title">Solde du compte</h6>
                </div>
                <div class="p-3 mx-5 mt-3 rounded-3 bg-success text-white">
                    <span class="h4 mb-0 ">50 000</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /row -->

<!-- row -->
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Détails</h3>
            </div>
            <div class="h-100">
                <div class="card overflow-hidden">
                    <div class="p-0 customers mt-1">
                        <div class="list-group list-lg-group list-group-flush">
                            <div class="list-group-item list-group-item-action">
                                <div>
                                    <div class="media-body">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-1">
                                                <h5 class="mb-1 tx-13 font-weight-sembold text-dark">Type compte</h5>
                                            </div>
                                            <span class="ms-auto wd-45p fs-16 ">
                                                <span class="wd-100p"></span>
                                                <span class="float-end badge">
                                                    <span class="op-7 text-dark tx-12 font-weight-semibold">{{compte.type_compte.libelle}}</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                <div>
                                    <div class="media-body">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-1">
                                                <h5 class="mb-1 tx-13 font-weight-sembold text-dark">Magasin</h5>
                                            </div>
                                            <span class="ms-auto wd-45p fs-16 ">
                                                <span class="wd-100p"></span>
                                                <span class="float-end badge">
                                                    <span class="op-7 text-dark tx-12 font-weight-semibold">{{compte.magasin.ville.nom_ville}}</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                <div>
                                    <div class="media-body">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-1">
                                                <h5 class="mb-1 tx-13 font-weight-sembold text-dark">Libellé</h5>
                                            </div>
                                            <span class="ms-auto wd-45p fs-16 ">
                                                <span class="wd-100p"></span>
                                                <span class="float-end badge">
                                                    <span class="op-7 text-dark tx-12 font-weight-semibold">{{compte.libelle_compte}}</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action">
                                <div>
                                    <div class="media-body">
                                        <div class="d-flex align-items-center">
                                            <div class="mt-1">
                                                <h5 class="mb-1 tx-13 font-weight-sembold text-dark">Numero de téléphone</h5>
                                            </div>
                                            <span class="ms-auto wd-45p fs-16 ">
                                                <span class="wd-100p"></span>
                                                <span class="float-end badge">
                                                    <span class="op-7 text-dark tx-12 font-weight-semibold">{{compte.numero_telephone}}</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Toutes les transactions</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="file-datatable" class="border-top-0  table table-bordered text-nowrap key-buttons border-bottom">
                        <thead>
                            <tr>
                                <th class="border-bottom-0">Date</th>
                                <th class="border-bottom-0">Heure</th>
                                <th class="border-bottom-0">Montant</th>
                                <th class="border-bottom-0">Solde</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>09/03/2023</td>
                                <td>12H 40</td>
                                <td>8 450</td>
                                <td>35 000</td>
                            </tr>
                            <tr>
                                <td>09/03/2023</td>
                                <td>12H 40</td>
                                <td>15 000</td>
                                <td>50 000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /row -->

<!-- row -->
<!-- row closed -->

{% endblock %}

{% block scripts %}

<!-- Eva-icons js -->
<script src="{% static 'assets/js/eva-icons.min.js'%}"></script>

<!-- Counters -->
<script src="{% static 'assets/plugins/counters/waypoints.min.js'%}"></script>
<script src="{% static 'assets/plugins/counters/counterup.min.js'%}"></script>

<!-- Time Counter -->
<script src="{% static 'assets/plugins/counters/jquery.missofis-countdown.js'%}"></script>
<script src="{% static 'assets/plugins/counters/counter.js'%}"></script>

<!-- DATA TABLE JS-->
<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js'%}"></script>
<script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'assets/plugins/datatable/js/buttons.bootstrap5.min.js'%}"></script>
<script src="{% static 'assets/plugins/datatable/js/jszip.min.js'%}"></script>
<script src="{% static 'assets/plugins/datatable/pdfmake/pdfmake.min.js'%}"></script>
<script src="{% static 'assets/plugins/datatable/pdfmake/vfs_fonts.js'%}"></script>
<script src="{% static 'assets/plugins/datatable/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'assets/plugins/datatable/js/buttons.print.min.js'%}"></script>
<script src="{% static 'assets/plugins/datatable/js/buttons.colVis.min.js'%}"></script>
<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'assets/plugins/datatable/responsive.bootstrap5.min.js'%}"></script>
<script src="{% static 'assets/js/table-data.js'%}"></script>

<script>
    $(document).ready(function(){
        $("#ajoutCompte").on("click",function(){alert("ok");});
    });
</script>

{% endblock %}