{% extends 'recette/recette_base.html' %}
{% load static %}
	{% block title %}SMART RECO - Recettes par province{% endblock %}
    {% block styles %}

    {% endblock %}

        {% block content %}

					<!-- breadcrumb -->
					<div class="breadcrumb-header justify-content-between">
						<div>
							<h4 class="content-title mb-2">Recettes par magasin</h4>
						</div>
						<div class="d-flex my-auto">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0);">Recettes</a></li>
									<li class="breadcrumb-item active " aria-current="page">Recettes par magasin</li>
								</ol>
							</nav>
						</div>
					</div>
					<!-- /breadcrumb -->

					<!-- main-content-body -->
		<div class="row row-sm">
			{% for t in typemags %}
				<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
					<div class="card ">
						<div class="card-body">
						<div class="card-widget">
							<h6 class="mb-2">{{t.libelle}}</h6>
										{% if t.libelle == "CKDO" %}
											<a href="{% url 'reco_gest:detail_type_mag' t.libelle %}">
												<h4 class="text-end"><i class="fa fa-cart-plus icon-size float-start text-danger text-danger-shadow"></i><span>1 470 000</span></h4>
												<p class="mb-0">Airtel Money<span class="float-end">850 000</span></p>
												<p class="mb-0">Moov Money<span class="float-end">620 000</span></p>
											</a>
										{% elif t.libelle == "CK2" %}
											<a href="{% url 'reco_gest:detail_magasin' id %}">
												<h4 class="text-end"><i class="fa fa-cart-plus icon-size float-start text-danger text-danger-shadow"></i><span>2 100 000</span></h4>
												<p class="mb-0">Airtel Money<span class="float-end">1 000 000</span></p>
												<p class="mb-0">Moov Money<span class="float-end">1 100 000</span></p>
											</a>
										{% elif t.libelle == "GABOPRIX" %}
											<a href="{% url 'reco_gest:detail_magasin' id %}">
												<h4 class="text-end"><i class="fa fa-cart-plus icon-size float-start text-danger text-danger-shadow"></i><span>1 350 000</span></h4>
												<p class="mb-0">Airtel Money<span class="float-end">600 000</span></p>
												<p class="mb-0">Moov Money<span class="float-end">750 000</span></p>
											</a>
										{% elif t.libelle == "INTERGROS" %}
											<a href="{% url 'reco_gest:detail_magasin' id %}">
												<h4 class="text-end"><i class="fa fa-cart-plus icon-size float-start text-danger text-danger-shadow"></i><span>1 670 000</span></h4>
												<p class="mb-0">Airtel Money<span class="float-end">920 000</span></p>
												<p class="mb-0">Moov Money<span class="float-end">750 000</span></p>
											</a>
										{% elif t.libelle == "SUPERGROS" %}
											<a href="{% url 'reco_gest:detail_magasin' id %}">
												<h4 class="text-end"><i class="fa fa-cart-plus icon-size float-start text-danger text-danger-shadow"></i><span>2 800 000</span></h4>
												<p class="mb-0">Airtel Money<span class="float-end">1 800 000</span></p>
												<p class="mb-0">Moov Money<span class="float-end">1 000 000</span></p>
											</a>
										{% elif t.libelle == "GEANT CKDO" %}
											<a href="{% url 'reco_gest:detail_magasin' id %}">
												<h4 class="text-end"><i class="fa fa-cart-plus icon-size float-start text-danger text-danger-shadow"></i><span>3 500 000</span></h4>
												<p class="mb-0">Airtel Money<span class="float-end">2 200 000</span></p>
												<p class="mb-0">Moov Money<span class="float-end">1 300 000</span></p>
											</a>
										{% elif t.libelle == "SUPERCKDO" %}
											<a href="{% url 'reco_gest:detail_magasin' id %}">
												<h4 class="text-end"><i class="fa fa-cart-plus icon-size float-start text-danger text-danger-shadow"></i><span>1 800 000</span></h4>
												<p class="mb-0">Airtel Money<span class="float-end">950 000</span></p>
												<p class="mb-0">Moov Money<span class="float-end">850 000</span></p>
											</a>
										{% elif t.libelle == "MAXICKDO" %}
											<a href="{% url 'reco_gest:detail_magasin' id %}">
												<h4 class="text-end"><i class="fa fa-cart-plus icon-size float-start text-danger text-danger-shadow"></i><span>1 350 000</span></h4>
												<p class="mb-0">Airtel Money<span class="float-end">600 000</span></p>
												<p class="mb-0">Moov Money<span class="float-end">750 000</span></p>
											</a>
										{% elif t.libelle == "SOGAM EQUIp" %}
											<a href="{% url 'reco_gest:detail_magasin' id %}">
												<h4 class="text-end"><i class="fa fa-cart-plus icon-size float-start text-danger text-danger-shadow"></i><span>5 000 000</span></h4>
												<p class="mb-0">Airtel Money<span class="float-end">3 000 000</span></p>
												<p class="mb-0">Moov Money<span class="float-end">2 000 000</span></p>
											</a>
										{% elif t.libelle == "MATELEC" %}
											<a href="{% url 'reco_gest:detail_magasin' id %}">
												<h4 class="text-end"><i class="fa fa-cart-plus icon-size float-start text-danger text-danger-shadow"></i><span>5 000 000</span></h4>
												<p class="mb-0">Airtel Money<span class="float-end">2 500 000</span></p>
												<p class="mb-0">Moov Money<span class="float-end">2 500 000</span></p>
											</a>
										{%else %}
											<a href="{% url 'reco_gest:detail_magasin' id %}">
												<h4 class="text-end"><i class="fa fa-cart-plus icon-size float-start text-danger text-danger-shadow"></i><span>1 980 000</span></h4>
												<p class="mb-0">Airtel Money<span class="float-end">1 000 000</span></p>
												<p class="mb-0">Moov Money<span class="float-end">980 000</span></p>
											</a>
										{% endif %}
						</div>
					</div>
					</div>
				</div>
			{% endfor %}
		</div>



        {% endblock %}

    {% block scripts %}

		<!--- DATEPICKER JS -->
		<script src="{% static 'assets/plugins/jquery-ui/ui/widgets/datepicker.js'%}"></script>

		<!--- INTERNAL SAMPLEDATA JS -->
		<script src="{% static 'assets/js/chart.flot.sampledata.js'%}"></script>

		<!-- APEXCHART JS -->
		<script src="{% static 'assets/js/apexcharts.min.js'%}"></script>

		<!-- CIRCLE PROGRESS -->
		<script src="{% static 'assets/js/vendors/circle-progress.min.js'%}"></script>

		<!--- INDEX3 js -->
		<script src="{% static 'assets/js/index3.js'%}"></script>

		<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/buttons.bootstrap5.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/jszip.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/pdfmake/pdfmake.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/pdfmake/vfs_fonts.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/buttons.html5.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/buttons.print.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/buttons.colVis.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/responsive.bootstrap5.min.js'%}"></script>
		<script src="{% static 'assets/js/table-data.js'%}"></script>

    {% endblock %}