{% extends 'recette/recette_base.html' %}
{% load static %}
{% block title %}SMART RECO - Toutes les recettes airtel Money{% endblock %}

    {% block styles %}

    {% endblock %}

        {% block content %}
					<!-- breadcrumb -->
					<div class="breadcrumb-header justify-content-between">
						<div>
							<h4 class="content-title mb-2">Recettes Airtel Money</h4>
						</div>
						<div class="d-flex my-auto">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0);">Recettes</a></li>
									<li class="breadcrumb-item active " aria-current="page">Recettes Airtel Money</li>
								</ol>
							</nav>
						</div>
					</div>
					<!-- /breadcrumb -->

					<!-- Row -->
					<div class="row row-sm">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-xl-6 col-lg-6 col-sm-6 col-md-6">
									<div class="card text-center">
										<div class="card-body ">
											<div class="feature widget-2 text-center mt-0 mb-3">
												<i class="ti-shopping-cart project bg-pink-transparent mx-auto text-pink "></i>
											</div>
											<h6 class="mb-1 text-muted">Recettes par magasin</h6>
											<h3 class="font-weight-semibold">Recettes par magasin</h3>
										</div>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-sm-6 col-md-6">
							<div class="card text-center">
								<div class="card-body">
									<div class="feature widget-2 text-center mt-0 mb-3">
										<i class="ti-shopping-cart  project bg-teal-transparent mx-auto text-teal "></i>
									</div>
									<h6 class="mb-1 text-muted">Recettes par ville</h6>
									<h3 class="font-weight-semibold">Recettes par ville</h3>
								</div>
							</div>
						</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Toutes les recettes</h3>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table id="file-datatable" class="border-top-0  table table-bordered text-nowrap key-buttons border-bottom">
											<thead>
												<tr>
													<th class="border-bottom-0">Ville</th>
													<th class="border-bottom-0">Type magasin</th>
													<th class="border-bottom-0">Magasin</th>
													<th class="border-bottom-0">Compte marchand</th>
													<th class="border-bottom-0">Solde initial</th>
													<th class="border-bottom-0">Recette du jour</th>
													<th class="border-bottom-0">Recette hebdomadaire</th>
													<th class="border-bottom-0">Recette mensuelle</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Libreville</td>
													<td>CKDO</td>
													<td>CKDO Lalala</td>
													<td>A10315</td>
													<td>850 000</td>
													<td>540 000</td>
													<td>700 000</td>
													<td>690 000</td>
												</tr>
												<tr>
													<td>Libreville</td>
													<td>SOGAM EQUIP</td>
													<td>Oloumi</td>
													<td>A1E240</td>
													<td>920 000</td>
													<td>630 000</td>
													<td>820 000</td>
													<td>818 000</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Row -->

        {% endblock %}

    {% block scripts %}

		<!-- DATA TABLE JS-->
		<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/buttons.bootstrap5.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/jszip.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/pdfmake/pdfmake.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/pdfmake/vfs_fonts.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/buttons.html5.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/buttons.print.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/buttons.colVis.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/responsive.bootstrap5.min.js'%}"></script>
		<script src="{% static 'assets/js/table-data.js'%}"></script>

		<!--- Select2.min js -->
		<script src="{% static 'assets/'%}plugins/select2/js/select2.min.js"></script>
    {% endblock %}