{% load static %}
<!doctype html>
<html>
	<body>
		<div class="main-header side-header sticky nav nav-item">
	<div class="container-fluid main-container ">
		<div class="main-header-left ">
			<div class="app-sidebar__toggle mobile-toggle" data-bs-toggle="sidebar">
				<a class="open-toggle"   href="javascript:void(0);"><i class="header-icons" data-eva="menu-outline"></i></a>
				<a class="close-toggle"   href="javascript:void(0);"><i class="header-icons" data-eva="close-outline"></i></a>
			</div>
			<div class="responsive-logo">
				<a href="index" class="header-logo"><img src="{% static 'assets/img/brand/logo.png'%}" class="logo-11" alt="logo"></a>
				<a href="index" class="header-logo"><img src="{% static 'assets/img/brand/logo-white.png'%}" class="logo-1" alt="logo"></a>
			</div>
		</div>
		<button class="navbar-toggler nav-link icon navresponsive-toggler vertical-icon ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
		</button>
		<div class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0  mg-lg-s-auto">
			<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
				<div class="main-header-right">
					<div class="nav nav-item nav-link " id="bs-example-navbar-collapse-1">
						<form class="navbar-form" role="search">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search">
								<span class="input-group-btn">
									<button type="reset" class="btn btn-default">
										<i class="fas fa-times"></i>
									</button>
									<button type="submit" class="btn btn-default nav-link">
										<i class="fe fe-search"></i>
									</button>
								</span>
							</div>
						</form>
					</div>
					<div class="dropdown nav-item main-layout">
						<a href="javascript:void(0)" class="new theme-layout nav-link-bg layout-setting" >
							<span class="dark-layout"><i class="fe fe-moon"></i></span>
							<span class="light-layout"><i class="fe fe-sun"></i></span>
						</a>
					</div>
					<div class="nav nav-item  navbar-nav-right mg-lg-s-auto">
						<div class="nav-item full-screen fullscreen-button">
							<a class="new nav-link full-screen-link"   href="javascript:void(0);"><i class="fe fe-maximize"></i></a>
						</div>

						<!-- <div class="dropdown nav-item main-header-cart">
							 <a class="new nav-link"   href="javascript:void(0);"><i class="fe fe-shopping-cart"></i><span class=" badge bg-secondary header-badge rounded-circle">60</span></a>
							<div class="dropdown-menu">
								<div class="p-3 text-start bg-primary border-bottom rounded-top-5">
									<div class="d-flex align-items-center">
										<h6 class="dropdown-title mb-1 tx-15 font-weight-semibold">Shopping Cart</h6>
										<p class="mb-0 font-weight-semibold tx-muted tx-12 ms-auto">Total items: 6</p>
									</div>
								</div>
								<ul class="list-unstyled main-cart-list shopping-scroll mb-0">
									<li class="mb-0 pos-relative border-bottom">
										<div class="d-flex pd-x-13 py-2 pos-relative">
											<a href="productcart" class="stretched-link"></a>
											<div class="avatar-md rounded-5 "><img src="{% static 'assets/img/ecommerce/01.jpg'%}" alt="img" class="rounded-5"></div>
											<div class="flex-1 ms-2 mt-2">
												<h6 class="mb-0 tx-default">Flower Pot</h6>
												<div class="d-flex justify-content-between">
													<p class="mb-0   tx-14 align-self-end">Price: <span class="">$23</span></p>
													<div class="mt-1 ms-2">
														<p class="mb-0 tx-default tx-12"><span class="me-1 tx-muted">Quantity:</span>2</p>
													</div>
												</div>
											</div>
										</div>
										<div class="pos-absolute mt-2 r-10">
											<a href="javascript:void(0);" class="close-btn border rounded-5"><i class="fe fe-x tx-12 text-danger"></i></a>
										</div>
									</li>
									<li class="mb-0 pos-relative border-bottom">
										<div class="d-flex pd-x-13 py-2 pos-relative">
											<a href="productcart" class="stretched-link"></a>
											<div class="avatar-md rounded-5 "><img src="{% static 'assets/img/ecommerce/02.jpg'%}" alt="img" class="rounded-5"></div>
											<div class="flex-1 ms-2 mt-2">
												<h6 class="mb-0 tx-default">Orange Chair</h6>
												<div class="d-flex justify-content-between">
													<p class="mb-0   tx-14 align-self-end">Price: <span class="">$17</span></p>
													<div class="mt-1 ms-2">
														<p class="mb-0 tx-default tx-12"><span class="me-1 tx-muted">Quantity:</span>1</p>
													</div>
												</div>
											</div>
										</div>
										<div class="pos-absolute mt-2 r-10">
											<a href="javascript:void(0);" class="close-btn border rounded-5"><i class="fe fe-x tx-12 text-danger"></i></a>
										</div>
									</li>
									<li class="mb-0 pos-relative border-bottom">
										<div class="d-flex pd-x-13 py-2 pos-relative">
											<a href="productcart" class="stretched-link"></a>
											<div class="avatar-md rounded-5 "><img src="{% static 'assets/img/ecommerce/04.jpg'%}" alt="img" class="rounded-5"></div>
											<div class="flex-1 ms-2 mt-2">
												<h6 class="mb-0 tx-default">Smart Watch</h6>
												<div class="d-flex justify-content-between">
													<p class="mb-0   tx-14 align-self-end">Price: <span class="">$37</span></p>
													<div class="mt-1 ms-2">
														<p class="mb-0 tx-default tx-12"><span class="me-1 tx-muted">Quantity:</span>2</p>
													</div>
												</div>
											</div>
										</div>
										<div class="pos-absolute mt-2 r-10">
											<a href="javascript:void(0);" class="close-btn border rounded-5"><i class="fe fe-x tx-12 text-danger"></i></a>
										</div>
									</li>
									<li class="mb-0 pos-relative border-bottom">
										<div class="d-flex pd-x-13 py-2 pos-relative">
											<a href="productcart" class="stretched-link"></a>
											<div class="avatar-md rounded-5 "><img src="{% static 'assets/img/ecommerce/07.jpg'%}" alt="img" class="rounded-5"></div>
											<div class="flex-1 ms-2 mt-2">
												<h6 class="mb-0 tx-default">Coffee Cup</h6>
												<div class="d-flex justify-content-between">
													<p class="mb-0   tx-14 align-self-end">Price: <span class="">$53</span></p>
													<div class="mt-1 ms-2">
														<p class="mb-0 tx-default tx-12"><span class="me-1 tx-muted">Quantity:</span>4</p>
													</div>
												</div>
											</div>
										</div>
										<div class="pos-absolute mt-2 r-10">
											<a href="javascript:void(0);" class="close-btn border rounded-5"><i class="fe fe-x tx-12 text-danger"></i></a>
										</div>
									</li>
									<li class="mb-0 pos-relative border-bottom">
										<div class="d-flex pd-x-13 py-2 pos-relative">
											<a href="productcart" class="stretched-link"></a>
											<div class="avatar-md rounded-5 "><img src="{% static 'assets/img/ecommerce/08.jpg'%}" alt="img" class="rounded-5"></div>
											<div class="flex-1 ms-2 mt-2">
												<h6 class="mb-0 tx-default">Cactus Plant</h6>
												<div class="d-flex justify-content-between">
													<p class="mb-0   tx-14 align-self-end">Price: <span class="">$57</span></p>
													<div class="mt-1 ms-2">
														<p class="mb-0 tx-default tx-12"><span class="me-1 tx-muted">Quantity:</span>3</p>
													</div>
												</div>
											</div>
										</div>
										<div class="pos-absolute mt-2 r-10">
											<a href="javascript:void(0);" class="close-btn border rounded-5"><i class="fe fe-x tx-12 text-danger"></i></a>
										</div>
									</li>
									<li class="mb-0 pos-relative ">
										<div class="d-flex pd-x-13 py-2 pos-relative">
											<a href="productcart" class="stretched-link"></a>
											<div class="avatar-md rounded-5 "><img src="{% static 'assets/img/ecommerce/09.jpg'%}" alt="img" class="rounded-5"></div>
											<div class="flex-1 ms-2 mt-2">
												<h6 class="mb-0 tx-default">Collage Bag</h6>
												<div class="d-flex justify-content-between">
													<p class="mb-0   tx-14 align-self-end">Price: <span class="">$47</span></p>
													<div class="mt-1 ms-2">
														<p class="mb-0 tx-default tx-12"><span class="me-1 tx-muted">Quantity:</span>1</p>
													</div>
												</div>
											</div>
										</div>
										<div class="pos-absolute mt-2 r-10">
											<a href="javascript:void(0);" class="close-btn border rounded-5"><i class="fe fe-x tx-12 text-danger"></i></a>
										</div>
									</li>
								</ul>
								<div class="dropdown-footer text-center">
									<a href="productcart" class="btn  btn-primary w-md tx-13">View All<i class="fe fe-arrow-right tx-12 ms-2 lh-1"></i></a>
								</div>
							</div>
						</div> -->
						<div class="dropdown nav-item main-header-notification">
							<a class="new nav-link"   href="javascript:void(0);"><i class="fe fe-bell"></i><span class=" pulse"></span></a>
							<div class="dropdown-menu">
								<div class="menu-header-content bg-primary text-start d-flex rounded-top-5">
									<div class="">
										<h6 class="menu-header-title text-white mb-0">4 New Notifications</h6>
									</div>
									<div class="my-auto ms-auto">
										<a class="badge bg-pill bg-success float-end"   href="javascript:void(0);">Mark All Read</a>
									</div>
								</div>
								<a class="d-flex p-3 border-bottom"   href="mail">
									<div class="notifyimg bg-warning-transparent">
										<i class="fe fe-mail text-warning"></i>
									</div>
									<div class="ms-3">
										<h5 class="notification-label mb-1">New review received</h5>
										<div class="notification-subtext">1 day ago</div>
									</div>
								</a>
								<div class="main-notification-list Notification-scroll">
									<a class="d-flex p-3 border-bottom"   href="mail">
										<div class="notifyimg bg-primary-transparent">
											<i class="fe fe-check-circle text-primary"></i>
										</div>
										<div class="ms-3">
											<h5 class="notification-label mb-1">Project approved</h5>
											<div class="notification-subtext">4 hour ago</div>
										</div>
									</a>
									<a class="d-flex p-3  border-bottom"   href="mail">
										<div class="notifyimg bg-purple-transparent">
											<i class="fe fe-upload-cloud text-purple"></i>
										</div>
										<div class="ms-3">
											<h5 class="notification-label mb-1">Updates Available</h5>
											<div class="notification-subtext">2 days ago</div>
										</div>
									</a>
									<a class="d-flex p-3"   href="mail">
										<div class="notifyimg bg-pink-transparent">
											<i class="fe fe-file-text text-pink"></i>
										</div>
										<div class="ms-3">
											<h5 class="notification-label mb-1">New files available</h5>
											<div class="notification-subtext">10 hour ago</div>
										</div>
									</a>
								</div>
								<div class="dropdown-footer text-center">
									<a href="notification" class="btn  btn-primary w-md tx-13">View All<i class="fe fe-arrow-right tx-12 ms-2 lh-1"></i></a>
								</div>
							</div>
						</div>
						<!-- <div class="dropdown  nav-item main-header-message ">
							<a class="new nav-link"   href="javascript:void(0);" ><i class="fe fe-mail"></i><span class=" pulse-danger"></span></a>
							<div class="dropdown-menu">
								<div class="menu-header-content bg-primary text-start d-flex rounded-top-5">
									<div class="">
										<h6 class="menu-header-title text-white mb-0">5 New Messages</h6>
									</div>
									<div class="my-auto mg-s-auto">
										<a class="badge bg-pill bg-info float-end"   href="javascript:void(0);">Mark All Read</a>
									</div>
								</div>
								<div class="main-message-list chat-scroll">
									<a href="mail" class="p-3 d-flex border-bottom">
										<div class="drop-img cover-image" data-bs-image-src="{% static 'assets/img/users/9.jpg'%}">
											<span class="avatar-status bg-teal"></span>
										</div>
										<div class="wd-90p">
											<div class="d-flex">
												<h5 class="mb-1 name">Ahaija Neru</h5>
												<p class="time mb-0 text-end ms-auto float-end">20 min ago</p>
											</div>
											<p class="mb-0 desc">Are you ready to pickup your Delivery...</p>
										</div>
									</a>
									<a href="mail" class="p-3 d-flex border-bottom">
										<div class="drop-img  cover-image  " data-bs-image-src="{% static 'assets/img/users/3.jpg'%}">
											<span class="avatar-status bg-teal"></span>
										</div>

										<div class="wd-90p">
											<div class="d-flex">
												<h5 class="mb-1 name">Gnapi Roliee</h5>
												<p class="time mb-0 text-end ms-auto float-end">10 min ago</p>
											</div>
											<p class="mb-0 desc">I'm sorry but i'm not sure how...</p>
										</div>
									</a>
									<a href="mail" class="p-3 d-flex border-bottom">
										<div class="drop-img cover-image" data-bs-image-src="{% static 'assets/img/users/5.jpg'%}">
											<span class="avatar-status bg-teal"></span>
										</div>
										<div class="wd-90p">
											<div class="d-flex">
												<h5 class="mb-1 name">Petey Cruiser</h5>
												<p class="time mb-0 text-end ms-auto float-end">35 min ago</p>
											</div>
											<p class="mb-0 desc">I'm sorry but i'm not sure how...</p>
										</div>
									</a>
									<a href="mail" class="p-3 d-flex border-bottom">
										<div class="drop-img cover-image" data-bs-image-src="{% static 'assets/img/users/12.jpg'%}">
											<span class="avatar-status bg-danger"></span>
										</div>
										<div class="wd-90p">
											<div class="d-flex">
												<h5 class="mb-1 name">Barney Cull</h5>
												<p class="time mb-0 text-end ms-auto float-end">30 min ago</p>
											</div>
											<p class="mb-0 desc">Here are some products ...</p>
										</div>
									</a>
									<a href="mail" class="p-3 d-flex border-bottom">
										<div class="drop-img cover-image" data-bs-image-src="{% static 'assets/img/users/2.jpg'%}">
											<span class="avatar-status bg-teal"></span>
										</div>
										<div class="wd-90p">
											<div class="d-flex">
												<h5 class="mb-1 name">Sahar Dary</h5>
												<p class="time mb-0 text-end ms-auto float-end">13 min ago</p>
											</div>
											<p class="mb-0 desc">All set ! Now, time to get to you now......</p>
										</div>
									</a>
								</div>
								<div class="dropdown-footer text-center">
									<a href="mail" class="btn   btn-primary  w-md tx-13">View All<i class="fe fe-arrow-right tx-12 ms-2 lh-1"></i></a>
								</div>
							</div>
						</div> -->
						<div class="dropdown d-none d-md-flex nav-item main-header-grid ">
							<a class="nav-link icon " data-bs-toggle="dropdown">
								<i class="fe fe-grid floating"></i>
							</a>
							<div class="dropdown-menu ">
								<div class="menu-header-content bg-primary text-start d-flex rounded-top-5">
									<div class="">
										<h6 class="menu-header-title text-white mb-0">Modules</h6>
									</div>
								</div>
								<div class="row drop-icon-wrap my-2  p-3">
										<div class="col-4">
											<a class="mod" module="recette" href="{% url 'reco_gest:dashboard_recette' %}" class=" d-grid justify-content-center    rounded p-1 ">
												<div class="main-grid">
													<span class="avatar p-2  bg-info-transparent rounded-3 mx-auto">
														<svg xmlns="http://www.w3.org/2000/svg"  class="svg-icons" viewBox="0 0 1792 1792"><path fill="#1ca2d5" d="M1280 704q0-26-19-45t-45-19h-128V512q0-26-19-45t-45-19-45 19-19 45v128H832q-26 0-45 19t-19 45 19 45 45 19h128v128q0 26 19 45t45 19 45-19 19-45V768h128q26 0 45-19t19-45zm-576 832q0 53-37.5 90.5T576 1664t-90.5-37.5T448 1536t37.5-90.5T576 1408t90.5 37.5T704 1536zm896 0q0 53-37.5 90.5T1472 1664t-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm128-1088v512q0 24-16 42.5t-41 21.5L627 1146q1 7 4.5 21.5t6 26.5 2.5 22q0 16-24 64h920q26 0 45 19t19 45-19 45-45 19H512q-26 0-45-19t-19-45q0-14 11-39.5t29.5-59.5 20.5-38L332 384H128q-26 0-45-19t-19-45 19-45 45-19h256q16 0 28.5 6.5t20 15.5 13 24.5T453 329t5.5 29.5T463 384h1201q26 0 45 19t19 45z" class="color000000 svgShape"/></svg>
													</span>
													<span class="mt-2 tx-14 text-center">Recettes</span>
												</div>
											</a>
										</div>
										<div class="col-4">
											<a class="mod" module="reporting" href="{% url 'reco_gest:dashboard_reporting' %}" class=" d-grid justify-content-center mb-3    rounded p-1 ">
												<div class="main-grid">
													<span class="avatar p-2  bg-success-transparent rounded-3 mx-auto">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g id="feBarChart0" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"><g id="feBarChart1" fill="currentColor"><path id="feBarChart2" d="M5 19h15a1 1 0 0 1 0 2H4a1 1 0 0 1-1-1v-8a1 1 0 0 1 2 0v7Zm5-4a1 1 0 0 1-2 0V6a1 1 0 1 1 2 0v9Zm2 0V8a1 1 0 0 1 2 0v7a1 1 0 0 1-2 0Zm4-11a1 1 0 0 1 2 0v11a1 1 0 0 1-2 0V4Z"/></g></g></svg>
													</span>
													<span class="mt-2 tx-14   text-center">Reporting</span>
												</div>
											</a>
										</div>
										<div class="col-4">
											<a class="mod" module="users" href="{% url 'reco_gest:dashboard_user' %}" class=" d-grid justify-content-center mb-0   rounded p-1 ">
												<div class="main-grid">
													<span class="avatar p-2  bg-success-transparent rounded-3 mx-auto">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g id="feUsers0" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"><g id="feUsers1" fill="currentColor"><path id="feUsers2" d="M8 13a3 3 0 1 1 0-6a3 3 0 0 1 0 6Zm8 0a3 3 0 1 1 0-6a3 3 0 0 1 0 6Zm-8 2a7.98 7.98 0 0 1 6 2.708V19H2v-1.292A7.98 7.98 0 0 1 8 15Zm8 4v-2.048l-.5-.567a10.057 10.057 0 0 0-1.25-1.193A8.028 8.028 0 0 1 16 15a7.98 7.98 0 0 1 6 2.708V19h-6Z"/></g></g></svg>
													</span>
													<span class="mt-2 tx-14  text-center">Utilisateurs</span>
												</div>
											</a>
										</div>
								</div>
								<div class="dropdown-footer text-center">
									<a href="{% url 'reco_gest:choisir_module' %}" class="btn  btn-primary w-md tx-13">Retour<i class="fe fe-arrow-right tx-12 ms-2 lh-1"></i></a>
								</div>
							</div>
						</div>
						<div class="dropdown main-profile-menu nav nav-item nav-link">
							<a class="profile-user d-flex" href="javascript:void(0)"><img src="{% static 'assets/img/users/5.jpg'%}" alt="user-img" class="rounded-circle mCS_img_loaded"><span></span></a>

							<div class="dropdown-menu">
								<div class="main-header-profile header-img bg-primary rounded-top-5 p-3">
									<h6>{{request.session.username}}</h6><span>Administrateur</span>
								</div>
								<a class="dropdown-item" href="{% url 'reco_gest:profile' request.session.userid %}"><i class="fe fe-user"></i> Mon profile</a>
								<a class="dropdown-item" href="#"><i class="fe fe-edit"></i> Editer profile</a>
								<a class="dropdown-item" href="{% url 'reco_gest:deconnexion' %}"><i class="fe fe-log-out"></i> Deconnexion</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex header-setting-icon">
			<a class="nav-link icon demo-icon"    href="javascript:void(0);">
				<i class="fe fe-settings  fe-spin"></i>
			</a>
		</div>
	</div>
</div>
	</body>
</html>

