    {% load static %}

	<!-- JQuery min js -->
	<script src="{% static 'assets/plugins/jquery/jquery.min.js'%}"></script>

	<!-- Bootstrap Bundle js -->
	<script src="{% static 'assets/plugins/bootstrap/popper.min.js'%}"></script>
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>

	<!-- Ionicons js -->
	<script src="{% static 'assets/plugins/ionicons/ionicons.js'%}"></script>

	<!-- Moment js -->
	<script src="{% static 'assets/plugins/moment/moment.js'%}"></script>

	<!-- Eva-icons js -->
	<script src="{% static 'assets/js/eva-icons.min.js'%}"></script>

	<!-- JQuery sparkline js -->
	<script src="{% static 'assets/plugins/jquery-sparkline/jquery.sparkline.min.js'%}"></script>

