{% load static %}
                        
        <!-- Back-to-top -->
        <a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>

        <!-- JQuery min js -->
        <script src="{% static 'assets/plugins/jquery/jquery.min.js'%}"></script>

        <!-- Bootstrap Bundle js -->
        <script src="{% static 'assets/plugins/bootstrap/popper.min.js'%}"></script>
        <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>

        <!-- Ionicons js -->
        <script src="{% static 'assets/plugins/ionicons/ionicons.js'%}"></script>

        <!-- Moment js -->
        <script src="{% static 'assets/plugins/moment/moment.js'%}"></script>

        <!-- JQuery sparkline js -->
        <script src="{% static 'assets/plugins/jquery-sparkline/jquery.sparkline.min.js'%}"></script>

        <!-- P-scroll js -->
        <script src="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
        <script src="{% static 'assets/plugins/perfect-scrollbar/p-scroll.js'%}"></script>

        <!-- Eva-icons js -->
        <script src="{% static 'assets/js/eva-icons.min.js'%}"></script>

        <!-- Sidebar js -->
        <script src="{% static 'assets/plugins/side-menu/sidemenu.js'%}"></script>

        <!-- sticky js -->
        <script src="{% static 'assets/js/sticky.js'%}"></script>

        <!--- Index js -->
        <script src="{% static 'assets/js/script.js'%}"></script>

        <!-- Custom js -->
        <script src="{% static 'assets/js/custom.js'%}"></script>
