{% extends 'utilisateurs/user_base.html' %}
{% load static %}

    {% block styles %}
	{% block title %}SMART RECO - Les villes{% endblock %}

    {% endblock %}

        {% block content %}

			<!-- breadcrumb -->
			<div class="breadcrumb-header justify-content-between">
				<div>
					<h4 class="content-title mb-2">Villes</h4>
				</div>
				<div class="d-flex my-auto">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0);">Villes et provinces</a></li>
							<li class="breadcrumb-item active " aria-current="page">Villes</li>
						</ol>
					</nav>
				</div>
			</div>
			<!-- /breadcrumb -->

			<!-- row -->
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="col-lg-12 col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Enregistrer ville</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-lg-12">
									<div class="bg-gray-100 p-4">
										<div>
											{% if messages %}
												<ul class="messages">
													{% for message in messages %}
														<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
													{% endfor %}
												</ul>
											{% endif %}
											{% if form.errors %}
												<div class="alert alert-danger">
													{{ form.errors }}
												</div>
											{% endif %}
										</div>
										<form action="" method="post">
											{% csrf_token %}
											<div class="form-group">
												{{form.nom_ville}}
											</div>
											<div class="form-group">
												{{form.province}}
											</div>
											<input style="display:none;" type="text" name="idville" id="idville" class="invisible hide">
											<button id="btnEnrg" class="btn btn-primary pd-x-20">Enregistrer</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			<!-- /row -->

			<!-- Row -->
			<div class="row row-sm">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Liste des villes</h3>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table border-top-0  table-bordered text-nowrap border-bottom" id="responsive-datatable">
									<thead>
										<tr>
											<th class="wd-15p border-bottom-0">Province</th>
											<th class="wd-15p border-bottom-0">Nom de la ville</th>
											<th class="wd-5p border-bottom-0">Actions</th>
										</tr>
									</thead>
									<tbody>
									    {% for ville in villes %}
										<tr>
											<td>{{ville.province.nom}}</td>
											<td>{{ville.nom_ville}}</td>
											<td style="width: 100px;">
												<div class="btn-list">
													<a href="javascript:void(0)" class="edit btn btn-sm btn-def py-2 rounded-5 border text-muted tx-14" id_ville="{{ville.id}}"><i class="fe fe-edit"></i></a>
													<a href="javascript:void(0)" class="delete btn btn-sm btn-def py-2 rounded-5 border text-muted tx-14" id_ville="{{ville.id}}"><i class="fe fe-trash"></i></a>
												</div>
											</td>
										</tr>
									    {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Row -->



        {% endblock %}

    {% block scripts %}

		<!--- Internal Modal js -->
		<script src="{% static 'assets/js/modal.js'%}"></script>

		<!--- Select2 js -->
		<script src="{% static 'assets/plugins/select2/js/select2.min.js'%}"></script>

		<script src="{% static 'assets/js/table-data.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/responsive.bootstrap5.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js'%}"></script>
		<script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js'%}"></script>

		<script>
			$(document).ready(function(){
				$("#btnEnrg").html("{{act}}");
				$(".edit").on("click",function(){
					var id_ville = $(this).attr("id_ville");
					$.ajax({
						type: "post",
						url: "{% url 'reco_gest:get_ville' %}",
						data: {
							"id_ville": id_ville,
							"csrfmiddlewaretoken": "{{ csrf_token }}"
						},
						success: function(ville){
							id_prov = ville.province
							$("#id_nom_ville").val(ville.nom_ville);
							$("#id_province option[value=id_prov]").attr("selected",true);
							$("#idville").val(ville["id"]);
							$("#btnEnrg").html("Editer");
							$(".id_province option[value='']").remove();
							window.scrollTo(0, 0);
						},
						error: function(){alert("Erreur");}
					});
				});
			});
		</script>

    {% endblock %}