{% load static %}
{% load filtres %}

<div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
<div class="sticky">
    <aside class="app-sidebar sidebar-scroll">
        <div class="main-sidebar-header active">
            <a class="desktop-logo logo-light active" href="{% url 'reco_gest:dashboard_reporting' %}"><img src="{% static 'assets/img/brand/logo_ceca.png'%}"
                                                                        class="main-logo" alt="logo"></a>
            <a class="desktop-logo logo-dark active" href="index"><img
                    src="{% static 'assets/img/brand/logo-white.png'%}" class="main-logo" alt="logo"></a>
            <a class="logo-icon mobile-logo icon-light active" href="index"><img
                    src="{% static 'assets/img/brand/favicon.png'%}" alt="logo"></a>
            <a class="logo-icon mobile-logo icon-dark active" href="index"><img
                    src="{% static 'assets/img/brand/favicon-white.png'%}" alt="logo"></a>
        </div>
        <div class="main-sidemenu">
            <div class="main-sidebar-loggedin">
                <div class="app-sidebar__user">
                    <div class="dropdown user-pro-body text-center">
                        <div class="user-pic">
                            <img src="{% static 'assets/img/users/5.jpg'%}" alt="user-img"
                                 class="rounded-circle mCS_img_loaded">
                        </div>
                        <div class="user-info mb-4">
                            <h6 class=" mb-0 text-dark">{{request.session.username}}</h6>
                            <span class="text-muted app-sidebar__user-name text-sm">Administrateur</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-left disabled" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/>
                </svg>
            </div>
            <ul class="side-menu ">
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="{% url 'reco_gest:dashboard_reporting' %}"><i class="side-menu__icon bx bx-home-alt"></i><span class="side-menu__label">Tableau de bord</span></a>
                </li>
            </ul>
        </div>
    </aside>
</div>